body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg,#8bfff9,#178ec1);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fffb8a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(23, 3, 244, 0.91);
    padding: 90px;
    width: 720px;
    text-align: center;
}

h1 {
    margin-bottom: 70px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #50c954;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1c8721;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}
li button{
    margin-left: 25px;
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}